# Dependencies
node_modules/
.pnpm-store/

# Nuxt / Nitro
.nuxt/
.output/
.data/
dist/

# Env & secrets
.env
.env.*
!.env.example

# Logs & debug
*.log
npm-debug.log*
pnpm-debug.log*
.turbo/

# IDE / OS
.DS_Store
Thumbs.db
*.local
.idea/
.vscode/*
!.vscode/extensions.json

# Test / coverage
coverage/
.nyc_output/
